* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(background.png);
  background-size: cover;
  background-position: center;
  position: relative;
  /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}
.navbar {
  width: 100%;
  padding: 10px 3rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  height: 150px;
}
.logo {
  width: 100px;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover:after {
  width: 100%;
}
.myprofile {
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 70vh;
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  width: 100px;
  margin-right: 3rem;
  border-radius: 2rem;
}
.list ul li {
  list-style: none;
  font-family: sans-serif;
}
